<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Railways Suite" verbose="1">
    <test name="Chrome Test">
        <parameter name="browserType" value="CHROME" />
        <classes>
            <class name="com.example.railways.testcases.login.TC08_Login_InactivatedAccount"/>
            <class name="com.example.railways.testcases.login.TC02_Login_BlankUsername"/>
            <class name="com.example.railways.testcases.login.TC03_Login_InvalidPassword"/>
            <class name="com.example.railways.testcases.login.TC01_Login_ValidAcc"/>
            <class name="com.example.railways.testcases.register.TC11_Register_BlankPasswordAndPid"/>
            <class name="com.example.railways.testcases.register.TC07_Register_Success"/>
            <class name="com.example.railways.testcases.register.TC10_Register_ConfirmPassword_Mismatch_Password"/>
            <class name="com.example.railways.testcases.bookTicket.TC04_BookTicket_UnloggedUser"/>
            <class name="com.example.railways.testcases.bookTicket.TC15_BookTicket_OpenFromTimetablePage"/>
            <class name="com.example.railways.testcases.bookTicket.TC14_BookTicket_Book_A_Ticket"/>
            <class name="com.example.railways.testcases.myTicket.TC16_MyTicket_CancelTicketSuccess"/>
            <class name="com.example.railways.testcases.changePassword.TC09_ChangePassword_Success"/>
            <class name="com.example.railways.testcases.login.TC06_Login_AdditionalPagesDisplay"/>
            <class name="com.example.railways.testcases.login.TC05_Login_InvalidPasswordSeveralTimes"/>
        </classes>
    </test>
    <test name="Firefox Test">
        <parameter name="browserType" value="FIREFOX" />
        <classes>
            <class name="com.example.railways.testcases.login.TC08_Login_InactivatedAccount"/>
            <class name="com.example.railways.testcases.login.TC02_Login_BlankUsername"/>
            <class name="com.example.railways.testcases.login.TC03_Login_InvalidPassword"/>
            <class name="com.example.railways.testcases.login.TC01_Login_ValidAcc"/>
            <class name="com.example.railways.testcases.register.TC11_Register_BlankPasswordAndPid"/>
            <class name="com.example.railways.testcases.register.TC07_Register_Success"/>
            <class name="com.example.railways.testcases.register.TC10_Register_ConfirmPassword_Mismatch_Password"/>
            <class name="com.example.railways.testcases.bookTicket.TC04_BookTicket_UnloggedUser"/>
            <class name="com.example.railways.testcases.bookTicket.TC15_BookTicket_OpenFromTimetablePage"/>
            <class name="com.example.railways.testcases.bookTicket.TC14_BookTicket_Book_A_Ticket"/>
            <class name="com.example.railways.testcases.myTicket.TC16_MyTicket_CancelTicketSuccess"/>
            <class name="com.example.railways.testcases.changePassword.TC09_ChangePassword_Success"/>
            <class name="com.example.railways.testcases.login.TC06_Login_AdditionalPagesDisplay"/>
            <class name="com.example.railways.testcases.login.TC05_Login_InvalidPasswordSeveralTimes"/>
        </classes>
    </test>
</suite>
